<!DOCTYPE html>
<html lang="{{ lang }}" data-bs-theme="{{ theme_mode }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - {{ app_name }}</title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ assets_path }}/img/favicon-57x57.png" type="image/png" />
    <link rel="apple-touch-icon" sizes="60x60" href="{{ assets_path }}/img/favicon-60x60.png" type="image/png" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ assets_path }}/img/favicon-72x72.png" type="image/png" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ assets_path }}/img/favicon-114x114.png" type="image/png" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ assets_path }}/img/favicon-120x120.png" type="image/png" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ assets_path }}/img/favicon-144x144.png" type="image/png" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ assets_path }}/img/favicon-152x152.png" type="image/png" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ assets_path }}/img/favicon-180x180.png" type="image/png" />
    <link rel="icon" sizes="16x16" href="{{ assets_path }}/img/favicon-16x16.png" type="image/png" />
    <link rel="icon" sizes="32x32" href="{{ assets_path }}/img/favicon-32x32.png" type="image/png" />
    <link rel="icon" sizes="96x96" href="{{ assets_path }}/img/favicon-96x96.png" type="image/png" />
    <link rel="icon" sizes="192x192" href="{{ assets_path }}/img/favicon-192x192.png" type="image/png" />
    <link rel="icon" sizes="512x512" href="{{ assets_path }}/img/favicon-512x512.png" type="image/png" />
    <!--<link rel="icon" href="{{ assets_path }}/img/favicon.svg"  type="image/svg+xml" />-->
    <link rel="manifest" href="{{ assets_path }}/img/manifest.json" />
    <meta name="theme-color" content="#FFFFFF" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ assets_path }}/img/favicon-512x512.png" />
    <!-- Styles -->
    <link rel="stylesheet" href="{{ bs_css_path }}">
    <link rel="stylesheet" href="{{ css_path }}">
    <link rel="stylesheet" href="{{ theme_css_path }}">
</head>
<body>
  <main>
    <nav class="sidebar">
        <h2 class="px-3">{{ nav_title }}</h2>
        {% for project, pages in pages | groupby('project') %}
            <h3 class="px-3">{{ project }}</h3>
            <ul class="nav flex-column">
                {% for page in pages %}
                    <li class="nav-item{% if page.is_active %} active{% endif %}{% if page.is_current %} current{% endif %}">
                        <a class="nav-link{% if page.is_active %} active{% endif %}{% if page.is_current %} current{% endif %}" href="{{ page.rel_path | urlencode }}">
                            {% if page.is_folder %}<strong>{{ page.title }}</strong>{% else %}{{ page.title }}{% endif %}
                        </a>
                        {% if page.sub_pages %}
                            <ul class="nav-nested">
                                {% for sub in page.sub_pages %}
                                    <li class="nav-item{% if sub.is_active %} active{% endif %}{% if sub.is_current %} current{% endif %}">
                                        <a class="nav-link{% if sub.is_active %} active{% endif %}{% if sub.is_current %} current{% endif %}" href="{{ sub.rel_path | urlencode }}">
                                            {% if sub.is_folder %}<strong>{{ sub.title }}</strong>{% else %}{{ sub.title }}{% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <hr class="project-separator">
        {% endfor %}
    </nav>
    <div class="content">
        <h1>{{ title }}</h1>
        {{ content | safe }}
    </div>
  </main>
  <footer>
    <small>{{ footer }}</small>
  </footer>
    <script type="text/javascript" src="{{ assets_path }}/js/script.js?v={{ app_version }}"></script>
</body>
</html>
