/**
 * Base styles.
**/

main {
    height: 90vh;
    display: flex;
    width: 100%;
}
.sidebar {
  height: 90vh;
  padding: 20px 5px;
  border-right: 1px solid;
  overflow-y: auto;
  flex-basis: 25vw;
  min-width: 25vw;
  width: 25vw;
}
.content {
    flex-grow: 4;
    padding: 20px;
    overflow-y: scroll;
}
footer {
    height: 10vh;
    padding: 20px;
    text-align: right;
    border-top: 1px solid;
}

.nav-nested {
	margin-left: 10px;
}

header {
  height: 45px;
}
.content header {
  border-bottom: 1px solid;
  margin-bottom: 10px;
}
h2, h3, h4, h5, h6 {
}
.content h1:not(:first-child) {
  font-size: calc(1.325rem + .9vw);
}
.content h1:first-child {
}
.content header h1:first-child {
  font-size: calc(1.375rem);
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.sidebar header {
  border-bottom: 1px solid;
  margin-bottom: 10px;
  color: inherit;
}
.sidebar h2:first-child {
  font-size: calc(1.375rem);
  color: inherit;
}
.sidebar h3 {
  font-size: 1.3em;
}

.sidebar .nav-link {
  padding: 1px 16px; 
}
.nav-item .nav-item .nav-link {
  padding-left: 0;
}
.sidebar .nav-item.active > a {
}
.sidebar .nav-item.active .nav-link {
}
.sidebar .nav-link.active {
}
.sidebar .nav-link.current {
}

.nav .nav-link.active, .nav .show > .nav-link {
}
.nav .nav-link.current, .nav .current > .nav-link {
}

/* Splash Page Option */
.index-html.root-splash-page {}
.index-html.root-splash-page .sidebar,
.index-html.root-splash-page .content header,
.index-html.root-splash-page footer {
  display: none;
}
.index-html.root-splash-page main {
  display: block;
  height: auto;
  text-align: center;
}
.index-html.root-splash-page .content {
  width: 75%;
  margin: 11% auto;
  height: 78%;
  text-align: center;
}

/* Menu Hide Option */
.index-html.root-menu-hide {
  
}

/*
 * Responsive
 */

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
@media (max-width: 575px) {
  main {
    display: block;
    height: auto;
  }
  .sidebar, .content {
    width: 100%;
    display: block;
    overflow-wrap: break-word;
  }
  .sidebar {
    height: auto;
  }
  
  .index-html.root-splash-page .content {
    width: 90%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .index-html.root-splash-page .content {
    width: 60%;
    margin: 11% auto;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}
