/**
 * Base styles.
**/

main {
    height: 90vh;
    display: flex;
    width: 100%;
}
.sidebar {
	height: 90vh;
	padding: 20px 5px;
	border-right: 1px solid;
	overflow-y: auto;
	flex-basis: 25vw;
	min-width: 25vw;
  width: 25vw;
}
.content {
    flex-grow: 4;
    padding: 20px;
    overflow-y: scroll;
}
footer {
    height: 10vh;
    padding: 20px;
    text-align: right;
    border-top: 1px solid;
}

.nav-nested {
  margin-left: 20px;
}

h2, h3, h4, h5, h6 {
}
.content h1:not(:first-child) {
  font-size: calc(1.325rem + .9vw);
}
.content h1:first-child {
  border-bottom: 1px solid;
  padding-bottom: 10px;
}
.sidebar h2:first-child {
  color: inherit;
  padding-top: 8px;
  padding-bottom: 18px;
  border-bottom: 1px solid;
}
.sidebar h3 {
}

.sidebar .nav-link {
  padding: 1px 16px; 
}
.nav-item .nav-item .nav-link {
  padding-left: 0;
}
.sidebar .nav-item.active > a {
/*
    font-weight: bold;
    color: #007bff;
    background-color: #f8f9fa;
*/
}
.sidebar .nav-item.active .nav-link {
/*
    color: #007bff;
*/
}
